.contain {
  width: 70%;
  height: 100%;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0%;
  max-width: 100%;
}

.cards {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  /* min-width: 75%; */
  max-width: 100%;
  border-radius: 4px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25%;
  padding-bottom: 20%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.card-logo {
  font-size: 108px;
}

.truck-card:hover {
  color: #9e3a0e;
}

.facility-card:hover {
  color: #182a9e;
}

.trip-card:hover {
  color: #0e9e62;
}

.info-btn {
  text-decoration: none;
  background: transparent;
  border: none;
}

@media only screen and (max-width: 800px) {
  .contain {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0%;
    max-width: 100%;
  }

  .cards {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    height: 10%;
    /* min-width: 75%; */
    max-width: 100%;
    border-radius: 4px;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .content {
    margin-top: 5%;
  }

  .card-logo {
    margin-right: 50px;
    font-size: 5rem;
  }
}