.container {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  overflow: hidden;
  max-width: 60%;
  height: 100%;
  min-height: 100%;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
  z-index: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* @media (max-width: 1660px) {
  .container {
    left: 8%;
    max-width: 80%;
  }
} */

/* @media (max-width: 1400px) {
  .container {
    left: 10%;
    max-width: 75%;
  }
}

@media (max-width: 1200px) {
  .container {
    left: 15%;
    max-width: 65%;
  }
} */

.sub-container,
.trip-sub-container {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100%;
  font-size: 10px;
  padding: 5% 10%;
}

.trip-sub-container {
  position: relative;
  top: 0;
  width: 100%;
}

.top-btns {
  display: flex;
  justify-content: center;
  height: 100%;
}

.top-btns .add-btn {
  background-color: #b3d0ff;
  color: #fff;
  width: 20%;
  height: 100%;
  outline: 0;
  border: 0;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: auto;
  font-size: 14px;
}

.top-btns .navigations {
  text-align: center;
  margin-right: 50%;
}

ul {
  justify-self: center;
}

.text-center {
  margin-bottom: 20px;
}

.top-btns .add-btn:hover {
  background-color: #1a83ff;
}

.action-btn {
  width: 60px;
}

.btn {
  padding: 0.2rem;
}

.table-row > td {
  padding: 0.1rem 0.1rem;
}

td.fitwidth {
  width: 50px;
  white-space: nowrap;
}
