.truck-view-container,
.truck-update-container,
.trip-view-container,
.trip-update-container,
.facility-view-container,
.facility-update-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  height: 100%;
  border-radius: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #fff;
  align-items: center;
}

.truck-sub-container,
.truck-update-sub-container,
.trip-sub-container,
.trip-update-sub-container,
.facility-sub-container,
.facility-update-sub-container {
  width: 90%;
  height: 80%;
  padding: 0;
}

.trip-sub-container {
  padding: 0;
}

.heading {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
}

.heading h2 {
  margin: auto;
}

.back-button {
  background-color: transparent;
  border: none;
  color: #abb1b6;
  font-size: 2rem;
  justify-self: start;
}

.truck-button-row,
.update-truck-button-row,
.trip-button-row,
.update-trip-button-row,
.facility-button-row,
.update-facility-button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 5%;
  width: 90%;
}

.update-truck-button-row,
.update-trip-button-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.truck-button-row button,
.update-truck-button-row button,
.trip-button-row button,
.update-trip-button-row button,
.facility-button-row button,
.update-facility-button-row button {
  width: 15%;
  height: auto;
  font-size: 1rem;
}

.facility-button-row span {
  width: 100%;
}

.update-truck-button-row button,
.update-trip-button-row button {
  width: 40%;
}

.update-truck-button-row button,
.trip-button-row button,
.update-trip-button-row button,
.update-facility-button-row button {
  margin: 4%;
}

.delete-btn {
  background-color: #d12533;
  font-size: 1rem;
  font-weight: bold;
}

.related-trips {
  height: 40%;
  width: 90%;
  padding-top: 0;
  margin: auto;
}

.related-trips table {
  margin-top: 0;
}

.truck-info-row,
.trip-info-row,
.facility-info-row {
  margin-top: 2%;
  font-size: 1.0rem;
}

.truck-info,
.trip-info,
.facility-info {
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
}

.truck-info label,
.trip-info label,
.facility-info label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 2%;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  font-size: 1rem;
  height: 2rem;
}

.form-group select {
  height: 3rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.truck-update-form,
.trip-update-form,
.facility-update-form {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.truck-update-form,
.facility-update-form,
.trip-update-form {
  margin-top: 5%;
  margin-bottom: 10%;
}

.trip-update-form {
  margin-top: 5%;
  margin-bottom: 5%;
}

.trip-button-row {
  margin-top: 10%;
}

.truck-heading, 
.facility-heading,
.trip-heading {
  text-align: center;
  padding-top: 2%;
}