.truck-view-container,
.truck-update-container,
.trip-view-container,
.trip-update-container,
.facility-view-container,
.facility-update-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  left: 100px;
  margin: auto;
  overflow: hidden;
  max-width: 1200px;
  min-height: 800px;
  max-height: 800px;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
}

.truck-sub-container,
.truck-update-sub-container,
.trip-sub-container,
.trip-update-sub-container,
.facility-sub-container,
.facility-update-sub-container {
  /* position: relative;
    top: 50px; */
  width: 100%;
  height: 80%;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  text-align: center;
}

.heading h2 {
  margin: auto;
}

.back-button {
  background-color: transparent;
  border: none;
  color: #abb1b6;
  font-size: 36px;
  justify-self: start;
}

.truck-button-row,
.update-truck-button-row,
.trip-button-row,
.update-trip-button-row,
.facility-button-row,
.update-facility-button-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
}

.update-truck-button-row,
.update-trip-button-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.truck-button-row button,
.update-truck-button-row button,
.trip-button-row button,
.update-trip-button-row button,
.facility-button-row button,
.update-facility-button-row button {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.update-truck-button-row button,
.trip-button-row button,
.update-trip-button-row button,
.update-facility-button-row button {
  margin: 20px;
}

.delete-btn {
  background-color: #d12533;
  font-size: 16px;
  font-weight: bold;
}

.related-trips {
  height: 400px;
  padding-top: 20px;
}

.related-trips table {
  margin-top: 20px;
}

.truck-info-row,
.trip-info-row,
.facility-info-row {
  margin-top: 20px;
  font-size: 18px;
}

.truck-info,
.trip-info,
.facility-info {
  margin-top: 30px;
}

.truck-info label,
.trip-info label,
.facility-info label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  font-size: 16px;
  height: 36px;
}

.form-group select {
  height: 36px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.truck-update-form,
.trip-update-form,
.facility-update-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.facility-button-row {
  margin-top: 100px;
}
